.experiences{
    min-height: 100vh;
    width: 100%;
    /* background-color: var(--backgroundColor); */
    padding: 5vw 2vw;
}
.experiences__heading{
    height: 12vh;
    width: 100%;
    /* background-color: rgb(174, 116, 116); */
    display: flex;
    justify-content: center;
}
.experiences__heading__h1{
    width: 90%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1vw;
}
.experiences__line{
    height: 0.2vw;
    width: 100%;
    background-color: var(--backgroundColor);
    border-radius: 50vw;
}