/* -------part1 start-------- */
.part1 {
  height: 88vh;
  width: 100%;
  /* background-color: var(--backgroundColor); */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0vw 2vw;
}
.part1__left {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.part1__left__cont{
  margin-right: 3vw;
}
.part1__photo {
  height: 60vh;
  width: 60vh;
  background-image: url(https://images.unsplash.com/photo-1568316674077-d72ee56de61c?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  left: 80vh;
}
.part1__right {
  height: 100%;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.part1 p {
  color: #767676;
}
.part1__right__line {
  height: 30vh;
  width: 0.1vw;
  background-color: var(--backgroundColor);
}
/* -------part1 end---------- */
/* -------part2 start---------- */
.part2{
  min-height: 100vh;
  width: 100%;
  background-color: var(--backgroundColor);
}
/* -------part2 end---------- */
/* -------part3 start---------- */
.part3{
  min-height: 100vh;
  width: 100%;
  background-color: var(--backgroundWhite);
}
/* -------part3 end---------- */
/* -------part4 start---------- */
.part4{
  height: 60vh;
  width: 100%;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
}
#line1{
  background-color: #cfcfcf;
}
.part4__head{
  height: 30%;
}
.patent__cont{
  height: 70%;
  margin-top: 5vw;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 0% 10%;
  gap: 1vw;
}
/* -------part4 end---------- */