.footer{
    height: 35vh;
    width: 100%;
    background-image: url(./assets/footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}